django==3.2.*
django-heroku  # tested 0.3, installs whitenoise, pyscopg2, dj-database-url, dont install locally!
uWSGI  # instead of gunicorn
django-redis  # supports caching (and sessions?)
django-websocket-redis  # also installs redis/six/greenlet/gevent (20221119: PLANNED REMOVAL)
django-utils-six   # seems necessary to separately install?  (20221119: PLANNED REMOVE)
