<!DOCTYPE html>
<html>
{% load static %}
<head>
		<title>We Called It Earth</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'earth.css' %}">
</head>
<body>
	<div class="external">
	<div class="middle">
    <div  class="w3-card-4 w3-yellow center">
      You are a creator of a new world, but before you can create, you must learn to tell a <!--new--> story.
      Pick your emoji: <br>
      {% for c in emojis %}
        <span style="font-size:larger"><a href="{% url 'earth_webhome2' %}?e={{ c }}">{{ c }}</a> </span>
        {% if forloop.counter|divisibleby:8 %}<br />{% endif %}
      {% endfor %}
    </div>
	  <footer>"We Called It Earth", by Jessica Renfro & Hadi Asghari</footer>
  </div>
  </div>
	<script>
		window.setInterval('window.location.reload()', 120000); // failsafe reload
	</script>
</body>
</html>
