<!DOCTYPE html>
<html>
{% load static %}
<head>
		<title>We Called It Earth</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'earth.css' %}">
</head>
<body>
	<div class="external">
	<div class="middle">
    <div  class="w3-card-4 center {% if dance %}w3-cyan{% endif %}">
      <p>Hey {{ user.emoji }},
        {% if dance %}🎉 LET'S DANCE! 🎉
        {% else %}we are waiting for the Body to find the next story fragment...
        {% endif %}
      </p>
        Send energy:
        <img src="{% static 'love.png' %}" onclick="send_energy('l')" width=10% id="img_l">
        <img src="{% static 'power.png' %}" onclick="send_energy('p')" width=10% id="img_p">
        <img src="{% static 'funny.png' %}" onclick="send_energy('f')" width=10% id="img_f">
        <img src="{% static 'sad.png' %}" onclick="send_energy('s')" width=10% id="img_s">
        <img src="{% static 'mad.png' %}" onclick="send_energy('m')" width=10% id="img_m">
    </div>
	  <footer>"We Called It Earth", by Jessica Renfro & Hadi Asghari</footer>

    <script>
    window.setInterval('refresh_if_prompt()', 2000);
    window.setInterval('window.location.reload()', 30000);  // failsafe!
		function refresh_if_prompt() {
			var ajax = new XMLHttpRequest();
			ajax.open('GET', '{% url "earth_needrefresh" gamek %}?ep=0', true);
			ajax.onload = function() {
				if (this.status == 200 && this.response == "true")
						window.location.reload();
			}
			ajax.send();
		}
		async function send_energy(s) {
			var ajax = new XMLHttpRequest();
			var url = '{% url "earth_sendenergy" userk %}?energy=' + s;
			ajax.open('GET', url, true);
			ajax.send();
			// some dramatic effect:
			var img = document.getElementById('img_' + s);
			var drama = "w3-animate-opacity"; // "w3-spin";
			img.classList.add(drama);
			await new Promise(r => setTimeout(r, 500));
			img.classList.remove(drama);
		}
		</script>

  </div>
  </div>
</body>
</html>
