<!DOCTYPE html>
<html>
{% load static %}
<head>
		<title>We Called It Earth</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'earth.css' %}">
		<style>
		textarea{width:100%;}

		</style>
</head>
<body>
	<div class="external">
	<div class="middle">
		<div  class="w3-card-4 center">
			<p>{{ prompt.provocation }}</p>
			<form>
				{{ emoji }}
				<textarea id="f_text" name="f_text" maxlength={{ prompt.char_limit|default_if_none:120 }} onkeyup="count_chars()"></textarea>
				<input type="hidden" id="f_promptk" name="f_pk" value="{{ prompt.pk }}">
				<input value="→" type="submit">
			</form>
			<span style="font-size:xx-small" id="charsleft"></span>
			<p>{% if lastsaid %}(Last you said: <i>"{{ lastsaid }}"</i>){% endif %}</p>
		</div>
		<footer>"We Called It Earth", by Jessica Renfro & Hadi Asghari</footer>
	</div>
	</div>
	<script>
		document.getElementById('f_text').focus();


		function count_chars() {
			// show characters remaining to 120 -- or defined value
			var nl = {{ prompt.char_limit|default_if_none:120 }} - document.getElementById('f_text').value.length;
			var scl = document.getElementById('charsleft');
			scl.textContent = "(" + nl + " characters left)";
		}

		// 202109 new websocket based reload check... plus failsafe 60s!
		window.setInterval('failsafe_refresh()', 60000);

		var ws = new WebSocket('{{ WEBSOCKET_URI }}webusers?subscribe-broadcast&echo');
		ws.onopen = function() {
			console.log("Websocket connected :)");
		};
		ws.onmessage = function(e) {
			console.log("Received: " + e.data);
			// (also a heartbeat is received, one could have a timer checking for it?)
			if (e.data == "reload") {
				if (document.getElementById('f_text').value == "")  // ONLY RELOAD IF NO USER TEXT :)
						window.location.reload();
			}
		};
		ws.onerror = function(e) {
			console.error(e);  // hmmm...
		};
		ws.onclose = function(e) {
			console.log("Websocket closed! :/");
			// this means server/internet is down, simply moving out of page.. failsafe will reload
		};

		function failsafe_refresh() {
			// refresh whole page every 60s if no text by user has been entered, (to make sure we remain sync)
			if (document.getElementById('f_text').value == "")
					window.location.reload();
			else
				window.setInterval('failsafe_refresh()', 60000);
		}
	</script>
</body>
</html>
