<!DOCTYPE html>
<html>
{% load static %}
<head>
		<title>We Called It Earth</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'earth.css' %}">
	<style>
		img.energy {
			max-width: 120px;
		}
	</style>
</head>
<body>
	<div class="external">
	<div class="middle">
    <div  class="w3-card-4 center {% if dance %}w3-cyan{% endif %}">
      <p>
        {% if state == "dance" %}Hey {{ participant.emoji }}, 🎉 LET'S DANCE! 🎉
				{% elif state == "contq" %}Hey {{ participant.emoji }}, are you ready for more?
				{% elif state == "revival" %}<!-- empty -->
        {% else %}Hey {{ participant.emoji }}, tell the Body <!-- ({{ state}}) -->how you are feeling...
        {% endif %}
      </p>
        <p>
        <img src="{% static 'love.png' %}" onclick="send_energy('l')" width=18% id="img_l" class="energy">
        <img src="{% static 'power.png' %}" onclick="send_energy('p')" width=18% id="img_p" class="energy">
        <img src="{% static 'funny.png' %}" onclick="send_energy('f')" width=18% id="img_f" class="energy">
        <img src="{% static 'sad.png' %}" onclick="send_energy('s')" width=18% id="img_s" class="energy">
        <img src="{% static 'mad.png' %}" onclick="send_energy('m')" width=18% id="img_m" class="energy">
			</p>
    </div>
	  <footer>"We Called It Earth", by Jessica Renfro & Hadi Asghari</footer>

    <script>
    window.setInterval('refresh_if_prompt()', 2000);
    window.setInterval('window.location.reload()', 30000);  // failsafe reload!
		function refresh_if_prompt() {
			var ajax = new XMLHttpRequest();
			ajax.open('GET', '{% url "earth_needrefresh" gamek %}?st={{ state }}', true);
			ajax.onload = function() {
				if (this.status == 200 && this.response == "true")
						window.location.reload();
			}
			ajax.send();
		}
		var sending = 0;
		async function send_energy(s) {
			if (sending == 0) {
				sending++;  // limit simultenous energies
				var ajax = new XMLHttpRequest();
				var url = '{% url "earth_sendenergy" participant.pk %}?energy=' + s;
				ajax.open('GET', url, true);
				ajax.send();
				// some dramatic effect:
				var img = document.getElementById('img_' + s);
				var drama = "w3-animate-opacity"; // "w3-spin";
				img.classList.add(drama);
				await new Promise(r => setTimeout(r, 500));
				img.classList.remove(drama);
				--sending;
			}
		}
		</script>

  </div>
  </div>
</body>
</html>
