<!DOCTYPE html>
<html>
{% load static %}
<head>
		<title>We Called It Earth</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'earth.css' %}">
	<style>
		img.energy {
			max-width: 120px;
		}
	</style>
</head>
<body>
	<div class="external">
	<div class="middle">
    <div  class="w3-card-4 center {% if dance %}w3-cyan{% endif %}">
      <p>
        {% if state == "dance" %}Hey {{ participant.emoji }}, 🎉 LET'S DANCE! 🎉
				{% elif state == "contq" %}Hey {{ participant.emoji }}, are you ready for more?
				{% elif state == "revival" %}<!-- empty -->
        {% else %}Hey {{ participant.emoji }}, tell the Body <!-- ({{ state}}) -->how you are feeling...
        {% endif %}
      </p>
        <p>
        <img src="{% static 'love.png' %}" onclick="send_energy('l')" width=18% id="img_l" class="energy">
        <img src="{% static 'power.png' %}" onclick="send_energy('p')" width=18% id="img_p" class="energy">
        <img src="{% static 'funny.png' %}" onclick="send_energy('f')" width=18% id="img_f" class="energy">
        <img src="{% static 'sad.png' %}" onclick="send_energy('s')" width=18% id="img_s" class="energy">
        <img src="{% static 'mad.png' %}" onclick="send_energy('m')" width=18% id="img_m" class="energy">
			</p>
    </div>
	  <footer>"We Called It Earth", by Jessica Renfro & Hadi Asghari</footer>



    <script>
    window.setInterval('window.location.reload()', 40000);  // failsafe reload! (was 30s, could be 90s)

		// replaced refresh-loop with websocket callbacks!
		// BTW, one could also use jquery + ws4redis.js, which I am not
		var ws = new WebSocket('{{ WEBSOCKET_URI }}webusers?subscribe-broadcast&echo');
		ws.onopen = function() {
			const current = new Date();
			const time = current.toLocaleTimeString("de-DE");
    	console.log("Websocket connected :)  @" + time);
		};
		ws.onmessage = function(e) {
			if (e.data == "--heartbeat--") {
				console.log("Received: " + e.data);
				// (a heartbeat is received every 4s, one could have a timer checking for it?)
			}
			else {
				const current = new Date();
				const time = current.toLocaleTimeString("de-DE");
    		console.log("Received: `" + e.data + "` @" + time);
			}
			if (e.data == "reload")
				window.location.reload();
		};
		ws.onerror = function(e) {
    	console.error(e);  // hmmm...
		};
		ws.onclose = function(e) {
			const current = new Date();
			const time = current.toLocaleTimeString("de-DE");
    	console.log("Websocket closed! :/ @" + time);
			// this might mean server/internet is down..
			// or websocket disconnected due to idle timeout, in which case we restart
			window.setInterval('window.location.reload()', 5000);
		};

		var sending = 0;
		async function send_energy(s) {
			if (sending == 0) {
				sending++;  // limit simultenous energies

				// TODO: replace below with websockets in a future version too...
				var ajax = new XMLHttpRequest();
				var url = '{% url "earth_sendenergy" participant.pk %}?energy=' + s;
				ajax.open('GET', url, true);
				ajax.send();

				// some dramatic effect:
				var img = document.getElementById('img_' + s);
				var drama = "w3-animate-opacity"; // "w3-spin";
				img.classList.add(drama);
				await new Promise(r => setTimeout(r, 500));
				img.classList.remove(drama);

				--sending;
			}
		}
		</script>

  </div>
  </div>
</body>
</html>
