<!DOCTYPE html>
<html>
{% load static %}
<head>
		<title>We Called It Earth</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<!-- link rel="preconnect" href="https://fonts.gstatic.com" -->
		<link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'earth.css' %}">
</head>
<body>
	<div class="external">
	<div class="middle">
    <div class="w3-card-4 w3-red center">
      	<p>WAITING FOR A NEW GAME TO START....</p>
		</div>
	  <footer>"We Called It Earth", by Jessica Renfro & Hadi Asghari</footer>
  </div>
  </div>
  <script>window.setInterval('window.location.reload()', 10000);</script>
</body>
</html>
