<!DOCTYPE html>
<html>
{% load static %}
<head>
		<title>We Called It Earth</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'earth.css' %}">
</head>
<body>
	<div class="external">
	<div class="middle">
		<div  class="w3-card-4 center">
			<p>{{ prompt.provocation }}</p>
			<form>
				{{ emoji }}
				<textarea id="f_text" name="f_text" maxlength=140 onkeyup="count_chars()"></textarea>
				<input type="hidden" id="f_promptk" name="f_pk" value="{{ prompt.pk }}">
				<input value="→" type="submit">
			</form>
			<span style="font-size:xx-small" id="charsleft"></span>
			<p>{% if lastsaid %}(Last you said: <i>"{{ lastsaid }}"</i>){% endif %}</p>
		</div>
		<footer>"We Called It Earth", by Jessica Renfro & Hadi Asghari</footer>
	</div>
	</div>
	<script>
		document.getElementById('f_text').focus();
		window.setInterval('try_refresh()', 5000);
		function count_chars() {
			// show characters remaining to 140 -- or defined value
			var nl = 140 - document.getElementById('f_text').value.length;
			var scl = document.getElementById('charsleft');
			scl.textContent = "(" + nl + " characters left)";
		}
		function try_refresh() {
			if (document.getElementById('f_text').value != "")
				window.setInterval('try_refresh()', 5000);
			else {
				// refresh_if_prompt moved on
				var ajax = new XMLHttpRequest();
					ajax.open('GET', '{% url "earth_needrefresh" gamek %}?ep=1', true);
					ajax.onload = function() {
						if (this.status == 200 && this.response == "true")
								window.location.reload();
					}
					ajax.send();
			}
		}
	</script>
</body>
</html>
